numpy
aiofiles==0.6.0
celery==4.4.7
fastapi==0.64.0
flower==0.9.7
Jinja2==3.0.3
pytest==6.2.4
redis==3.5.3
requests==2.25.1
uvicorn==0.13.4
pandas==1.5.2
pdoc3==0.10.0
geopandas==0.12.2
python-decouple==3.6
flake8==6.0.0
opencv-python==4.7.0.68
sentinelsat
requests-oauthlib
sentinelhub
pystac_client
pprofile==2.1.0
intake-stac==0.4.0
aiohttp==3.8.3
mgrs==1.4.5
rasterio
cachetools
boto3
rioxarray